<div class="container">

  <% @lists.each do |list| %>
  <% @user = User.find(list.user_id) %>
  <h1> <%= link_to list.title, list_path(list.id) %> </h1>
  <h5> List Created By: <%= @user.first_name %> <%= @user.last_name %> </h5>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner poster" role="listbox">
      <% @listmovies = Listmovie.where list_id: list.id %>
      <% @listmovies.each_with_index do |listmovie, index| %>
      <% @movie = Movie.find(listmovie.movie_id)%>
      <div class="item <% if index==0%> active<%end%>">
        <img class="d-block img-fluid" src="<%= @movie.image_url%>" alt="No Poster Found">
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <% end %>



</div>
