

<% @movies.parsed_response["results"].each do |movie| %>
  <h2> <%= movie['title'] %> (<%= movie['release_date'][0...4]%>) </h2>
    <%= image_tag("http://image.tmdb.org/t/p/w185#{movie['poster_path']}", alt: "No Poster Found")
      %>
      <% if user_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Add To List
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><% @users_lists.each do |list| %>
            <%= link_to list.title, list_path(list.id) %>
          <% end %></li>
        </ul>
      </li>
      <% end %>
  <br>
<% end %>
