/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.comment_box{
  padding: 10px;
  border: black solid 1px;
  max-width: 500px
}

div{
  text-align: center;
  margin: auto;
  overflow-wrap: break-word;
}

.down{
  margin-top: 5px;
}

.dropdown-menu{
  left: 25%;
  right: 25%;
  background:#222222;
  text-align: center;
  color:#9d9d9d;
}

.dropdown-menu input{
  max-width: 100%;
}

.dropdown-menu li > a{
  color:#9d9d9d;
}

.footer{
  margin-top: 20px;
  height: 80px;
  background-color: #222222;
}

.form-inline{
  margin-top: 2vw;
  margin-left: 31vw;
}

li {
  list-style-type: none;
}


.navbar {
  border-radius: 0px;
}

.navbar-brand{
  padding-top: 2vw;
}

.poster{
  max-width: 185px;
  border: black 1px solid;
}

.profile_image{
  max-width: 200px;
  border: black solid 1px;
}

.profile_image img{
  width: 100%;
}

.submit{
  background:#222222;
  border:none;
  font-size:1em;
  color:#9d9d9d;
}

.width-small{
  max-width: 200px;
  margin-left: 40%;
}
